*{
    background-color: black;
    margin: 15px;
}
.menu-header{
    display: flex; /* Use flexbox to arrange elements horizontally */
    justify-content: space-between; /* Create space between logo and menu */
    align-items: center; /* Vertically center elements */
    padding: 10px; /* Add padding for spacing */
    color: white; /* Example text color */
    margin: 0%;
}
.logo{
    font-family:'Inter';
    margin: 0%;
}
.menu-header h1{
    color: white;
    margin: 0%;
    font-size: 20px;
}
.menu-header a{
    text-decoration: none;
    color: white;
    font-family:'Inter';
    font-weight: 100 !important
}
.pages-links{
   word-spacing: 30px;
   font-family:'Inter';
}
#first-section{
    margin: 0%;
}
.home-section{
    display: flex;
    margin-top: 4%;
}

.home-section p{
    width: 40%;
    height: 40%;
    color: white;
    margin-top: 5.2%;
    font-size: 20px;
}

.images-section1{
    margin: 0%;
    width: 60%;
}

.img1 img{
    width: 403px;
    height: 427px;
    margin: 0%;
    margin-left: 56.1%;
}

.img2 img{
    width: 503px;
    height: 507px;
    margin: 0%;
    margin-top: -7%;
    margin-left: -3%;
}

.artist p{
    letter-spacing: 10px;
    font-size: 300px;
    color: white;
    position: absolute;
    margin-top: -25%;
    margin-left: 12%;
    font-weight: bold;
    font-family: 'Playfair Display';
    z-index: 1;
    background-color: transparent;
}
.time p{
    font-size: 300px;
    color: white;
    position: absolute;
    margin-top: -8%;
    margin-left: 27%;
    font-weight: bold;
    font-family: 'Playfair Display';
    z-index: 1;
    background-color: transparent;

}

#first-section a{
    color: black;
    text-decoration: none;
    background-color: white;
    margin-left: 50%;
    font-size: 25px;
    padding: 10px;
    font-weight: bold;
    border: none;
    margin-top: -5%;
}

.second-section{
    margin-top: 15%;
}


#second-section h1{
    color: white;
    margin-bottom: 20px;
    margin-top: 30px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 12% 20px 0 20px;
}

.container .heading h1{
    font-size: 81.308px;
    font-style: normal;
    font-family: 'Playfair Display';
    font-weight: 400;
}

.container .box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container .box .left{
    margin-right: -8px;
}

.container .box .right{
    margin-left: -2px;
}

.container .box img{
    margin-bottom: 40px;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titre-about{
    margin-top: 15%;
}

.titre-about h1{
    color: white;
    font-size: 81.308px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.text{
    color: white;
}

.text p{
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Inter';
}

#fourth-section{
   justify-content: center;
    align-items: center;
}

.testimonials{
    margin-top: 10%;
}

.testimonials h1{
    color: white;
    text-align: center;
    font-size: 81.308px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
}

.paragraph{
    color: white;
    font-weight: 100px;
    text-align: center;
    margin: 12px;
    margin-bottom: 4%;
}

.paragraph p{
    margin-left:15%;
    margin-right: 15%;
    color: white;
    margin-top: 5.2%;
    font-size: 20px;
}

.testimonials-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
    margin-right: 100px;
    margin-left: 100px;

}

.testimonials-div h1,p,a{
    font-family: 'Inter';

}

.left-div{
    color: white;
    width: 70%;
}

.right-div{
    display: inline-block;
    color: white;
    width: 28%;
    background-color: #181818;
}

.right-div img{
    margin: 0%;
}
.top-div{
    display: flex;
    background-color: #181818;
}

.top-div img{
    margin: 0%;
}

.bottom-div{
    display: flex;
    background-color: #181818;
}
.bottom-div img{
    margin: 0%;
}

.text-div{
    margin-left: 20px;
    margin-right: 0%;
    padding-right: 0%;
    background-color: transparent;
}

.text-div h1{
    font-size: 35px;
    margin: auto 0% auto auto;
    background-color: transparent;
    padding-right: 0%;
    /* width: 100%; */
    /* margin-right: 0%; */
}

.text-div p{
    font-size: 15px;
    margin: 50px 50px 60px 0px;
    background-color: transparent;
}

.text-div a{
    font-size: 17px;
    color: white;
    text-decoration: none;
    margin-left: 0%;
    background-color: transparent;
}

.review-button button{
    color: white;
    font-size: 18px;
    padding: 16px 25px;
    border-color: white;
}
.review-button{
    align-items: center;
    justify-content: center;
    display: flex;
}

#contact-section{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titre{
    color: white;
    text-align: center;
    font-size: 81.308px;
    font-style: normal;
    font-family: 'Playfair Display';
    font-weight: 400;
    margin-bottom: 40px;
    margin-top: 25%;
}

.btn-contact button{
    background-color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 7px 28px;
}

.all-form-contact{
    background-color: red;
}

form input, textarea{
    outline: none;
    display: block;
    width: 600px;
    color: white;
    height: 30px;
    border-width: 0px 0px 2px;
    border-color: white;
    margin-top: 0%;
    margin-bottom: 50px;
    font-size: 18px;
    resize: none;
}

textarea{
    height: 60px;
}

form label{
    font-size: 40px;
}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    margin-top: 10%;
}

.social p{
    display: flex;
    font-size: 15px;
}

